airspeed==0.5.4.dev20150515
alabaster==0.7.12
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
bokeh==1.1.0
bs4==0.0.1
cachetools==0.8.0
cerebunit==0.3.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cloudpickle==1.1.1
commonmark==0.9.0
ConnPlotter==0.7a0
cycler==0.10.0
cypy==0.2.0
dask==1.2.2
decorator==4.4.0
defusedxml==0.6.0
distributed==1.28.1
docutils==0.14
elephant==0.6.2
entrypoints==0.3
future==0.17.1
gitdb2==2.0.5
GitPython==2.1.11
h5py==2.9.0
hdmf==1.0.3
HeapDict==1.0.0
idna==2.8
imagesize==1.1.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.1.0
lazyarray==0.3.3
libNeuroML==0.2.47
lxml==4.3.3
MarkupSafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
mpi4py==3.0.1
msgpack==0.6.1
nbconvert==5.5.0
nbformat==4.4.0
nbsphinx==0.4.2
neo==0.7.1
neuromllite==0.1.7
numpy==1.16.3
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
psutil==5.6.2
ptyprocess==0.6.0
Pygments==2.4.0
PyLEMS==0.4.9.3
pymoose==3.1.4
PyNEST==2.16.0
pyNeuroML==0.3.15
PyNN==0.9.4
pynwb==1.0.2
pyparsing==2.4.0
pyrsistent==0.15.2
python-dateutil==2.8.0
pytz==2019.1
pyzmq==18.0.1
qtconsole==4.4.4
quantities==0.12.3
recommonmark==0.5.0
requests==2.22.0
ruamel.yaml==0.15.96
scipy==1.3.0
sciunit==0.2.0.2
Send2Trash==1.5.0
six==1.12.0
smmap2==2.0.5
snowballstemmer==1.2.1
sortedcontainers==2.1.0
soupsieve==1.9.1
Sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tblib==1.4.0
terminado==0.8.2
testpath==0.4.2
toolz==0.9.0
Topology==2.16.0
tornado==6.0.2
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
zict==0.1.4
